<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить услугу</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_title"></th:block>

<br><br>

<h1>Добавление услуги:</h1>

<form th:action="@{/api/services/save}" th:object="${service}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <br/>

<!--    <p>Цена :-->
<!--        <input type="text" th:field="*{aboutService.cost}"/>-->
<!--        <br/>-->

    <p>Место :
        <select name="place" th:field="*{aboutService.place}">
            <option th:each="place : ${T(by.university.hippo.entity.enums.Place).values()}"
                    th:value="${place}" th:text="${place.value}">
            </option>
        </select>

    <p>Выберите дату:
        <input type="date" th:field="*{date}"
               max="2022-06-30" min="2021-01-01">

    <p><input type="time" list="time-list"></p>
    <datalist id="time-list">
        <option value="">Select task for disable</option>
        <option th:each="timeList : ${timeList}"
                th:value="${timeList}">
        </option>
    </datalist>

</form>

<br/>
</body>
</html>