<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Таблица лошадей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<th:block th:include="/_title"></th:block>

<br><br>

<br/><br/>
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <form th:action="@{/api/services/admin/}" method="get">
        <input type="submit" value="Админ-версия"/>
    </form>

    <form th:action="@{/api/services/}" method="get">
        <input type="submit" value="Пользовательская-версия"/>
    </form>

    <form th:action="@{/api/services/addService}" method="get">
        <input type="submit" value="Добавить услугу"/>
    </form>
</div>
<div>
    <table border="1" width="100%">
        <caption>Таблица услуг</caption>
        <tr>
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <th>id</th>
                <th>Жизнь</th>
            </div>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th>Место</th>
            <th>Дата</th>
            <th>Время</th>
        </tr>
        <tr th:each="service : ${services}">
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <td th:utext="${service.id}">...</td>
                <td th:utext="${service.enabled}">...</td>
            </div>
            <td th:utext="${service.aboutService.title}">...</td>
            <td th:utext="${service.aboutService.description}">...</td>
            <td th:utext="${service.aboutService.cost}">...</td>
            <td th:utext="${service.place.value}">...</td>
            <td th:utext="${service.date}">...</td>
            <td th:utext="${service.time}">...</td>
            <div sec:authorize="isAuthenticated()">
                <td>

                    <form th:action="@{/api/services/about/}" method="get">
                        <input type="hidden" th:name="serviceId" th:value="${service.id}">
                        <input type="submit" value="Подробнее"/>
                    </form>

                    <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                        <form th:action="@{/api/services/addBasket/}" method="get">
                            <input type="hidden" th:name="serviceId" th:value="${service.id}"/>
                            <input type="submit" value="Добавить в карзину"/>
                        </form>
                        <form th:action="@{/api/users/addFavorites/}" method="get">
                            <input type="hidden" th:name="serviceId" th:value="${service.id}"/>
                            <input type="submit" value="Избрать"/>
                        </form>
                    </div>

                    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <form th:action="@{/api/services/update/}" method="get">
                            <input type="hidden" th:name="serviceId" th:value="${service.id}">
                            <input type="submit" value="Изменить"/>
                        </form>
                        <form th:action="@{/api/services/delete/}" method="get">
                            <input type="hidden" th:name="serviceId" th:value="${service.id}"/>
                            <input type="submit" value="Блокировать"/>
                        </form>
                    </div>
                </td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>