<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Таблица пользователей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<th:block th:include="/_title"></th:block>

<br><br><br>

<div>
    <table border="1" width="100%">
        <caption>Таблица поьзователей</caption>
        <tr>
            <th>id</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Баланс</th>
            <th>Активность</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.login}">...</td>
            <td th:utext="${user.role}">...</td>
            <td th:utext="${user.balance}">...</td>
            <td th:utext="${user.enabled}">...</td>

            <td>
                <form th:action="@{/api/users/info}" method="get">
                    <input type="hidden" th:name="userId" th:value="${user.id}">
                    <input type="submit" value="Подробнее"/>
                </form>


                <form th:action="@{/api/users/updateRole}" method="get">
                    <input type="hidden" th:name="userId" th:value="${user.id}">
                    <input type="submit" value="Изменить роль"/>
                </form>

                <form th:action="@{/api/users/updateBlock}" method="get">
                    <input type="hidden" th:name="userId" th:value="${user.id}">
                    <input type="submit" value="Изменить статус"/>
                </form>

                <form th:action="@{/api/users/delete}" method="get">
                    <input type="hidden" th:name="userId" th:value="${user.id}">
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>