<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/_title">

</th:block>

<br><br><br>
<table border="1" width="100%">
    <caption>Список услуг</caption>
    <tr>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <th>id</th>
        </div>
        <th>Название</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Стоимость</th>
        <th>Устарело</th>

    </tr>
    <tr th:each="aboutService : ${aboutServices}">
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <td th:utext="${aboutService.id}">...</td>
        </div>
        <td th:utext="${aboutService.title}">...</td>
        <td th:utext="${aboutService.description}">...</td>
        <td th:utext="${aboutService.category}">...</td>
        <td th:utext="${aboutService.cost}">...</td>
        <td th:utext="${aboutService.enabled}">...</td>

        <td>
            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
<!--                <form th:action="@{/api/services/addBasket/}" method="get">-->
<!--                    <input type="hidden" th:name="aboutServiceId" th:value="${aboutService.id}"/>-->
<!--                    <input type="submit" value="Добавить в карзину"/>-->
<!--                </form>-->
<!--                <form th:action="@{/api/users/addFavorites/}" method="get">-->
<!--                    <input type="hidden" th:name="aboutServiceId" th:value="${aboutService.id}"/>-->
<!--                    <input type="submit" value="Избрать"/>-->
<!--                </form>-->
            </div>

            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <form th:action="@{/api/services/update/}" method="get">
                    <input type="hidden" th:name="aboutServiceId" th:value="${aboutService.id}">
                    <input type="submit" value="Изменить"/>
                </form>
                <form th:action="@{/api/services/delete/}" method="get">
                    <input type="hidden" th:name="aboutServiceId" th:value="${aboutService.id}"/>
                    <input type="submit" value="Блокировать"/>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>