<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Таблица лошадей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<th:block th:include="/_title"></th:block>

<br><br><br>

<a href="addCard">Добавить карту</a>
<br/><br/>
<div>
    <table border="1" width="100%">
        <caption>Таблица карт</caption>
        <tr>
            <th>id</th>
            <th>Номер</th>
            <th>Баланс</th>
            <th>user id</th>
            <th>Активность</th>

        </tr>
        <tr th:each="card : ${cards}">
            <td th:utext="${card.id}">...</td>
            <td th:utext="${card.number}">...</td>
            <td th:utext="${card.balance}">...</td>
            <td th:utext="${card.userId}">...</td>
            <td th:utext="${card.enabled}">...</td>

            <td>
                <form th:action="@{/api/cards/update/}" method="get">
                    <input type="hidden" th:name="cardId" th:value="${card.id}">
                    <input type="submit" value="Изменить"/>
                </form>

                <form th:action="@{/api/cards/delete/}" method="get">
                    <input type="hidden" th:name="cardId" th:value="${card.id}"/>
                    <input type="submit" value="Блокировать"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>