<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Таблица лошадей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<th:block th:include="/_title"></th:block>

<br><br><br>

<div>
    <table border="1" width="100%">
        <caption>Таблица заказов</caption>
        <tr>
            <th>id</th>
            <th>Статус</th>
            <th>Время</th>
            <th>Сумма</th>

            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <th>Пользователь</th>
            </div>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:utext="${order.id}">...</td>
            <td th:utext="${order.status.value}">...</td>
            <td th:utext="${order.time}">...</td>
            <td th:utext="${order.amount}">...</td>

            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <td th:utext="${order.userId}">...</td>
                <td>
                    <form th:action="@{/api/orders/updateStatus/}" method="get">
                        <input type="hidden" th:name="orderId" th:value="${order.id}"/>
                        <input type="submit" value="Активировать"/>
                    </form>
                </td>
            </div>

            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <td>
                    <form th:action="@{/api/orders/print/}" method="get">
                        <input type="hidden" th:name="orderId" th:value="${order.id}"/>
                        <input type="submit" value="Подробнее"/>
                    </form>

                    <form th:action="@{/api/orders/print/}" method="get">
                        <input type="hidden" th:name="orderId" th:value="${order.id}"/>
                        <input type="submit" value="Печатать"/>
                    </form>

                    <form th:action="@{/api/orders/sendMail/}" method="get">
                        <input type="hidden" th:name="orderId" th:value="${order.id}"/>
                        <input type="submit" value="Отправить на почту"/>
                    </form>
                </td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>