<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить услугу</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_title"></th:block>

<br><br>

<h1>Добавление услуги:</h1>

<form th:action="@{/api/services/addBasket/}" th:object="${service}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <p>Выбрано :
    <table border="1" width="100%">
        <caption>Избранное</caption>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Стоимость</th>
            <th>Количество людей</th>
            <th>Продолжительность</th>
            <th>К оплате</th>
        </tr>
        <tr th:with="priceList = *{priceList}">
            <td th:utext="*{priceList.aboutService.title}">...</td>
            <td th:utext="*{priceList.aboutService.description}">...</td>
            <td th:utext="*{priceList.aboutService.category.value}">...</td>
            <td th:utext="*{priceList.aboutService.cost}">...</td>
            <td th:utext="*{priceList.countOfPeople}">...</td>
            <td th:utext="*{priceList.duration}">...</td>
            <td th:utext="*{priceList.amount}">...</td>
        </tr>
    </table>

    <p>Место :
        <select name="place" th:field="*{place}">
            <option th:each="place : ${T(by.university.hippo.entity.enums.Place).values()}"
                    th:value="${place}" th:text="${place.value}">
            </option>
        </select>

    <p>Выберите дату:
        <input type="date" th:field="*{date}"
               max="2022-06-30" min="2021-01-01">

    <p>Выберите время:
        <select name="time" th:field="*{time}">
        <option th:each="timeList : ${session.timeList}"
                th:value="${timeList}" th:text="${timeList}">
        </option>
        </select>
        <input type="submit" value="Добавить"/>
</form>

<br/>
</body>
</html>