<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/_title"></th:block>

<br><br><br>
<table border="1" width="100%">
    <caption>Избранное</caption>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Стоимость</th>
        <th>Место</th>
        <th>Время</th>
        <th>Дата</th>

    </tr>
    <tr th:each="service : ${favorites}">
        <td th:utext="${service.aboutService.title}">...</td>
        <td th:utext="${service.aboutService.description}">...</td>
        <td th:utext="${service.aboutService.cost}">...</td>
        <td th:utext="${service.place}">...</td>
        <td th:utext="${service.time}">...
        <td th:utext="${service.date}">...</td>
        <td>
            <form th:action="@{/api/users/deleteFavorites}" method="get">
                <input type="hidden" th:name="serviceId" th:value="${service.id}"/>
                <input type="submit" value="Удалить"/>
            </form>
            <form th:action="@{/api/services/addBasket/}" method="get">
                <input type="hidden" th:name="serviceId" th:value="${service.id}"/>
                <input type="submit" value="Добавить в карзину"/>
            </form>
        </td>
    </tr>
</table>
</div>
</body>
</html>