<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/_title"></th:block>

<br><br><br>
<table border="1" width="100%">
    <caption>Данная услуга уже заказана другим пользователем</caption>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Описание</th>
        <th>Количество человек</th>
        <th>Продолжительность</th>
        <th>Стоимость</th>
        <th>Место</th>
        <th>Время</th>
        <th>Дата</th>
        <div th:if="${basket}">
            <th>Действие</th>
        </div>
    </tr>
    <tr th:each="service : ${services}">
        <td th:utext="${service.id}">...</td>
        <td th:utext="${service.priceList.aboutService.title}">...</td>
        <td th:utext="${service.priceList.aboutService.description}">...</td>
        <td th:utext="${service.priceList.countOfPeople}">...</td>
        <td th:utext="${service.priceList.duration}">...</td>
        <td th:utext="${service.priceList.amount}">...</td>
        <td th:utext="${service.place}">...</td>
        <td th:utext="${service.time}">...</td>
        <td th:utext="${service.date}">...</td>
        <td>
            <form th:action="@{/api/services/deleteFromBasket}" method="get">
                <input type="hidden" th:name="serviceId" th:value="${service.id}"/>
                <input type="submit" value="Удалить из корзины"/>
            </form>
    </tr>
</table>
</body>
</html>